@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ESCenter.Domain.Shared
@model ESCenter.Client.Application.ServiceImpls.TutorProfiles.TutorForProfileDto
@{
    var academics = EnumProvider.AcademicLevels;
    var majors = Model.Majors;
}

<form asp-action="EditTutorInformation" asp-controller="TutorProfile" onsubmit="return callPostActionWithForm(this);">
    <input asp-for="Id" hidden/>
    <h5 class="col-md-12">Tutor information</h5>

    <div class="col-md-4">
        <label asp-for="AcademicLevel" class="form-label">Academic Level</label>
        <select asp-for="AcademicLevel" class="form-select">
            <option selected>@Model.AcademicLevel.ToString()</option>

            @foreach (string i in academics)
            {
                @if (i != Model.AcademicLevel)
                {
                    <option> @i </option>
                }
            }
        </select>
        <span asp-validation-for="AcademicLevel" class="text-danger"></span>
    </div>
    <div class="col-md-8">
        <label asp-for="University" class="form-label">University</label>
        <input type="text" class="form-control" asp-for="University">
        <span asp-validation-for="University" class="text-danger"></span>
    </div>
    <!-- ----------------------------------- -->

    <div class="col-md-12">
        <div class="form-check">
            <input class="form-check-input" disabled type="checkbox" asp-for="IsVerified">
            @if (!Model.IsVerified)
            {
                <label class="form-check-label" asp-for="IsVerified">
                    You are not verified. Contact center for more information.
                </label>
            }
            else
            {
                <label class="form-check-label" asp-for="IsVerified">
                    You are verified.
                </label>
            }
        </div>

    </div>

    <div class="card mt-5" id="tutorMajorCard">
        <div class="card-body">
            <div class="card-title row">
                <h5 class="col-11">Tutor Majors</h5>
            </div>

            <div class="list-group" style="grid-template-columns: repeat(4,1fr); display: grid">
                @foreach (var s in majors)
                {
                    <li class="list-group-item" style="border: none">
                        <input class="form-check-input" name="majorIds" value="@s.SubjectId" type="checkbox" checked="@s.IsMajored"/>
                        <label class="form-check-label">@s.SubjectName</label>
                    </li>
                }
            </div><!-- End List group Advanced Content -->

        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<!-- End Profile Edit Form -->