@model LineChartViewModel

<h5 class="card-title">Reports </h5>

<!-- Line Chart -->
<div id="reportsChart"></div>

<script>
  document.addEventListener("DOMContentLoaded", () => {

    window.reportsChartStore = new ApexCharts(document.querySelector("#reportsChart"), {
      series: @Html.Raw(Model.ChartWeekData),
      id: 'reportsChart',
      chart: {
        height: 350,
        type: 'area',
        toolbar: {
          show: false
        },
      },
      markers: {
        size: 4
      },
      colors: ['#4154f1', '#2eca6a', '#ff771d'],
      fill: {
        type: "gradient",
        gradient: {
          shadeIntensity: 1,
          opacityFrom: 0.3,
          opacityTo: 0.4,
          stops: [0, 90, 100]
        }
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'smooth',
        width: 2
      },
      xaxis: @Html.Raw(Model.Xaxis),
      tooltip: {
        x: {
          format: 'dd/MM/yy HH:mm'
        },
      }
    });

    window.reportsChartStore.render();
  });

</script>
<!-- End Line Chart -->

