@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ESCenter.Admin.Application.ServiceImpls.Courses.Queries.GetCourseRequest.CourseRequestCancelDto

<form asp-action="CancelRequest" asp-controller="Course" asp-route-courseId="@Model.CourseId" asp-route-requestId="@Model.CourseRequestId" onsubmit="return callPostActionWithForm(this)">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Cancellation's detail</h5>
            <input asp-for="CourseRequestId" type="hidden"/>
            <input asp-for="CourseId" type="hidden"/>
            <div class="col-md-12">
                <label asp-for="Description" class="form-label">Description</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <button class="btn btn-success" type="submit">Cancel the request</button>
        </div>
    </div>
</form>