@model string 
@{
    Layout = "_LoginLayout";
}

<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">

    <form asp-action="ChangePassword1" asp-controller="Authentication" method="post">
        <div class="card p-5">
            <input value="@Model" name="id" hidden="hidden" />
            <h3>Choose your new password</h3>
            <div class="row mb-3">
                <div class="col-md-12">
                    <input name="password" type="password" class="form-control" id="currentPassword" required>
                    <div class="invalid-feedback">Please enter your password.</div>
                </div>
            </div>

            <div class="text-center">
                
                <button type="submit" class="btn btn-primary" style="color: #2eca6a">Change Password</button>
            </div>
        </div>

    </form>

</section>